@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root { height: 100%; }
  a { color: inherit; text-decoration: none; }
}

@layer utilities {
  /* visible only on >=768px (desktop) */
  .only-desktop { display: none; }
  @media (min-width: 768px) {
    .only-desktop { display: flex; }
  }

  /* hidden on >=768px (desktop); visible below 768px (mobile) */
  .hide-desktop { display: inline-flex; }
  @media (min-width: 768px) {
    .hide-desktop { display: none; }
  }
}
